<div id="<%= dom_id status_update %>">
  <p>
    <strong>Prescription:</strong>
    <%= status_update.prescription_id %>
  </p>

  <p>
    <strong>Pharmacy:</strong>
    <%= status_update.pharmacy_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= status_update.status %>
  </p>

</div>
